body {
  background-color: #ecfde5;
  color: #db471c;
  font-family: Bookman Old Style, Bahnschrift, Biome, sans-serif;
  margin: 13% 15%;
}

.exp-header {
  Test-align: center;
  text-transform: uppercase;
  border-top: 1px dashed #2cccff;
  border-bottom: 1px dashed #2cccff;
  background-color: rgba(86,238,181, 0.1)
  
}
